<h1>Rutas y Lazyload</h1>

<h2>Auth</h2>
<ul>
    <li>
        <a routerLink="/auth/login">Login</a>
    </li>
    <li>
        <a routerLink="/auth/forgot">Olvide mi contraseña</a>
    </li>
    <li>
        <a routerLink="/auth/registro">Registro</a>
    </li>
</ul>
<br>

<h2>Producto</h2>
<ul>
    <li>
        <a routerLink="/producto/listado">Listado Productos</a>
    </li>
    <li>
        <a routerLink="/producto/agregar">Agregar Producto</a>
    </li>
    <li>
        <a routerLink="/producto/editar">Editar Producto</a>
    </li>
    <li>
        <a routerLink="/producto/producto">Producto Detalle</a>
    </li>
</ul>
<br>

<h2>Usuarios</h2>
<ul>
    <li>
        <a routerLink="/usuario/usuario">Usuario</a>
    </li>
    <li>
        <a routerLink="/usuario/agregar">Agregar Usuario</a>
    </li>
    <li>
        <a routerLink="/usuario/editar">Editar Usuario</a>
    </li>
    <li>
        <a routerLink="/usuario/listado">Listar Usuarios</a>
    </li>
</ul>


<!-- renderiza la ruta que le estamos especificando -->
<router-outlet></router-outlet>