<form>
  <div class="container">
    <div class="form-group">
      <label>Operando A</label>
      <input type="number" class="form-control" placeholder="Escribe un número" [(ngModel)]="primerNumero" name="operandoA" />
    </div>

    <div class="form-group">
      <label>Operando B</label>
      <input type="number" class="form-control" placeholder="Escribe un número" [(ngModel)]="segundoNumero" name="operandoB" />
    </div>

    <div class="form-group">
      <button class="btn btn-primary" (click)="onSumar()" name="btn-sumar">Sumar</button>
    </div>
  </div>
</form>
