<nav class="navbar navbar-toggleable-md navbar-dark bg-dark bg-faded">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">Demos</a>

    <div class="collapse navbar-collapse" id="navbarText">

        <ul class="navbar-nav mr-auto">

            <li class="nav-item active" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">Home</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['usuario',10]">Usuario</a>
            </li>

        </ul>
    </div>
</nav>
