<div class="container">

    <div class="form-group">

        <h1>Login Test Spring Security</h1>

        <div class="row m-2">
            <div class="col-sm-4">
                <input [(ngModel)]="username" class="form-control" type="text" placeholder="Username">
                <span *ngIf="showErrorUser" style="color: red;">Username es obligatorio</span>
            </div>
        </div>

        <div class="row m-2">
            <div class="col-sm-4">
                <input [(ngModel)]="password" class="form-control" type="password" placeholder="Password">
                <span *ngIf="showErrorPass" style="color: red;">Password es obligatorio</span>
            </div>
        </div>

        <div class="row m-2">
            <div class="col-sm-6">
                <div class="alert alert-danger" role="alert" *ngIf="showErrorCredentials">
                    {{ loginResponse.message }}
                </div>
            </div>
        </div>

        <div class="row m-2">
            <div class="col">
                <button (click)="enviar()" class="btn btn-primary">Enviar</button>
            </div>
        </div>

    </div>

</div>
