<div class="card text-dark bg-light mb-3">
    <div class="card-header"><strong>{{titulo}}</strong></div>
    <div class="card-body">

        <button class="btn btn-secondary my-2" routerLink="/alumnos">Volver</button>

        <form>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" [(ngModel)]="model.nombre" class="form-control" autocomplete="off" autofocus>
                <div class="alert alert-danger" *ngIf="error?.nombre">
                    {{error.nombre}}
                </div>
            </div>
            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido" [(ngModel)]="model.apellido" class="form-control" autocomplete="off">
                <div class="alert alert-danger" *ngIf="error?.apellido">
                    {{error.apellido}}
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" [(ngModel)]="model.email" class="form-control" autocomplete="off">
                <div class="alert alert-danger" *ngIf="error?.email">
                    {{error.email}}
                </div>
            </div>
            <div class="form group">
                <div class="input-group mb-3">
                    <input (change)="seleccionarFoto($event)" type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02">Seleccionar foto</label>
                </div>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-primary" (click)="model.id? editar(): crear()">
                  {{model.id? 'Editar' : 'Crear'}}
                </button>
            </div>
        </form>


    </div>
</div>
