<nav class="navbar navbar-expand-lg navbar-dark">

    <a class="navbar-brand" href="#">
        <img src="assets/img/game-logo.png" width="30" height="30" alt="" loading="lazy">
    </a>

    <a class="navbar-brand" href="#">Game Of The Year</a>


    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/inicio" href="#">Inicio</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/goty" href="#">Votar</a>
            </li>

        </ul>
    </div>
</nav>