{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>{{nombre}}</h1>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed dolorem placeat quia, iste expedita sequi odit, esse natus, culpa cum delectus velit quos necessitatibus earum. Molestias saepe atque consequatur sunt!
        </p>
    </div>

    <div class="col-4">
        <img src="/assets/img/tv.jpg" class="img-thumbnail" alt="tv">
    </div>
</div>

{{> footer}}